/*
 * Button section
 */
Button {
	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

Button:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}

Button:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}

/*
 * End button section
 */
 
 

/*
 * Menu button section
 */
 

MenuButton {
	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	/*-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

MenuButton:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}

MenuButton:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}

Menu-bar{
  -fx-border-color:  #f0cd90;
  /*-fx-border-width: 2*/

}
/* 
Menu-bar .label {
    -fx-font-size: 13px;


}
*/

.menu:hover {
    -fx-background-color: #bc784e;
}

.menu-item{
    -fx-font-size: 13px;
    -fx-label-line-length: 8;
    -fx-background-color: #FFFFFF;
    -fx-text-base-color: #000000;
}
.menu-item:hover{
	-fx-background-color: #0187ab;
}

.menu-item:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}
	
/* .menu .label{     -fx-text-fill: black;}*/
/* 
MenuItem {
	-fx-pref-width: 130px;
	-fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;  2 10 3 10 
	-fx-text-fill: -fx-text-base-color; 
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

Menu-item:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0; 
}

Context-menu {
	-fx-background-color: #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}
*/
/*Menu-item:focused .label{
*	-fx-color:#00a7d4;
*	-fx-background-color:#ED9C28, #00a7d4;
*	-fx-background-insets: -1.4, 0, 1, 2;
*	-fx-background-radius: 0;
}*/
/*
MenuButton:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}
*/
/*
 * End menu button section
 */
 
 
 
 /*
  * Background section
  */
Scene {
	-fx-background-color: #D4E7ED;
}
Label {
	-fx-background-color: white;
}

/*
 * End background section
 */
